:root {
	--black     : #000000;
	--white     : #ffffff;
	--blue      : #1F2A45;
	--dark-grey : #1B1B1B;
	--light-grey: #191B1880;
	--off-white : #F8F8F8;

	--headerHeight: 64px;
}

@include media-breakpoint-down(xl) {
	:root {
		--headerHeight: 64px;
	}
}

body {
	background : $white;
	overflow-x : hidden;
	direction  : ltr;
	font-family: $primary-font;

	&.ar {
		font-family: $primary-font-ar;
	}
}

a {
	text-decoration: none;
	color          : $dark-grey;
}

a:hover {
	text-decoration: none;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color          : inherit;
	text-decoration: none;
}

main {
	// margin-top: var(--headerHeight);
}

html {
	font-size: 16px;

	scroll-behavior: smooth;

	/* accessibility base font sizes */
}

:focus,
button:focus {
	outline: none;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}

input {
	border    : 0 solid transparent;
	outline   : none;
	background: $white;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin            : 0;
	}

	&[type="number"] {
		-moz-appearance: textfield;
	}
}

input::-ms-clear {
	display: none;
}

.section {
	overflow: hidden;

	padding: 60px 0;

	@include media-breakpoint-down(lg) {
		padding: 40px 0;
	}

}

.flipped {
	transform: scale(-1);
}

.bg {
	&-black {
		background-color: $black;
	}

	&-white {
		background-color: $white;
	}

	&-blue {
		background-color: $blue;
	}

	&-dark-grey {
		background-color: $dark-grey;
	}

	&-light-grey {
		background-color: $light-grey;
	}

	&-off-white {
		background-color: $off-white;
	}
}

.font {
	&-black {
		color: $black;
	}

	&-white {
		color: $white;
	}

	&-blue {
		color: $blue;
	}

	&-dark-grey {
		color: $dark-grey;
	}

	&-light-grey {
		color: $light-grey;
	}

	&-off-white {
		color: $off-white;
	}
}

.ttu {
	text-transform: uppercase;
}

.text {
	&-center {
		text-align: center;
	}

	&-white {
		color: white;
	}
}

.scroll-h {
	display  : flex;
	flex-wrap: nowrap;
	overflow : auto;

	&__scroll-inner {
		display       : inline-flex;
		flex-direction: column;
		flex          : 0 0 auto;
	}
}

.animated-line {
	&::after {
		content         : "";
		position        : absolute;
		bottom          : 0;
		left            : 0;
		width           : 0;
		height          : 1px;
		background-color: white;
		transition      : width 0.3s ease;
		opacity         : 0.6;
		text-decoration : none;
	}

	&:hover::after {
		width: 100%;
	}
}

.mask {
	&::after {
		content            : "";
		position           : absolute;
		inset              : 0;
		background         : #1B1B1B66;
		// background-color: rgba(0, 0, 0, 0.2);
		/* 50% black overlay */
		z-index            : 1;
		pointer-events     : none;
	}

	img {
		position: relative;
		z-index : 0;
	}

	// &-golden {
	// 	&::after {
	// 		background: #DFC89ACC;
	// 	}
	// }
}

.section {
	overflow: hidden;
	padding : 100px 0;

	@include media-breakpoint-up(lg) {
		padding: 160px 0;
	}
}

.line {
	position      : relative;
	padding-bottom: 24px;

	// @include media-breakpoint-up(lg) {
	// 	padding-bottom: 34px;
	// }

	&::after {
		content         : "";
		position        : absolute;
		bottom          : 0;
		left            : 0;
		width           : 27px;
		height          : 2px;
		background-color: white;
	}

	&.line-center {
		&::after {
			@include media-breakpoint-down(lg) {
				left     : 50%;
				transform: translateX(-50%);
			}
		}
	}

	&.line-image {
		&::after {
			background: url('../images/taf-image-text.png') center/cover no-repeat;
		}
	}
}

.image-text {
	background             : url('../images/taf-image-text.png') center/cover no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip        : text;
	color                  : transparent;
}

.disabled {
	opacity: 0.5;
	cursor : default;
}

.swiper-button-next,
.swiper-button-prev {
	width        : 40px;
	height       : 40px;
	background   : #F5F5F5;
	border-radius: 12px;

	.material-symbols-outlined {
		color: $dark-grey;
	}
}

.swiper-button-next {}

.swiper-button-prev {}

// @media (min-width: 1500px) {

// 	.container-xxl,
// 	.container-xl,
// 	.container-lg,
// 	.container-md,
// 	.container-sm,
// 	.container {
// 		max-width: 1440px;
// 	}
// }