.creative-and-fast {
    &__title {
        color: #fff;

        font-size  : 48px;
        line-height: 120%;
        margin     : auto;
        max-width  : 782px;
        text-align : center;
        font-size  : 48px;
        font-style : normal;
        font-weight: 400;
        line-height: 130%;

        @include media-breakpoint-down(lg) {
            font-size  : 30px;
            line-height: 110%;
            max-width  : 392px;
        }

        span {

            color      : #FFF;
            font-size  : 48px;
            font-style : normal;
            font-weight: 400;
            line-height: 130%;

            @include media-breakpoint-down(lg) {
                font-size  : 32px;
                line-height: 110%;
            }
        }
    }

    &__video {
        height    : 100%;
        width     : 100%;
        object-fit: cover;

        @include media-breakpoint-down(lg) {
            height: 100dvh;
        }
    }

    &__wrapper {
        height  : 100%;
        position: relative;

        &-img {
            img {
                height: 100%;
                width : 100%;
            }
        }

        &-cont {
            position : absolute;
            width    : 782px;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down(lg) {
                width        : 100%;
                padding-left : 20px;
                padding-right: 20px;
            }
        }
    }

}