footer(class="pt-[80px] pb-[120px] pb-lg-80").bg-blue.text-white
  .container
    .row
      div(class="grid grid-cols-12 gap-y-[80px] lg:gap-x-6")
        div(class="col-span-12 lg:col-span-2 lg:order-3 lg:flex lg:justify-end lg:items-start")
          +img("taf-logo.svg", 'Logo', 'w-[126px]', false)

        div(class="col-span-12 lg:col-span-4 line lg:order-1")
          +heading("Founded here. Felt everywhere.", "h2", "!font-normal m-0")

        div(class="col-span-12 lg:col-span-4 flex flex-col gap-y-5 lg:order-2 lg:col-start-7")
          +paragraph("Registered Foundation – Dubai International Financial Centre","text-sm m-0")
          div(class="flex gap-4")
            a(class="text-white text-sm" href="#") Privacy Policy
            a(class="text-white text-sm" href="#") Terms of Use
          +paragraph("© Tariq Al Futtaim. All rights reserved.","text-sm opacity-50 m-0")
          ul(class="flex gap-2 p-0 m-0")
            li
              a(href="https://www.linkedin.com" target="_blank") 
                +img("taf-linkedIn.svg", 'Logo', '', false)