section.background-noise.no-header
    .background-noise__wrapper
        .background-noise__wrapper-img
            +dualImg("noise-bg.png",'noise-bg-mob.png', '' ,'', false)
        .background-noise__wrapper-cont
            h2.background-noise__title “So don’t become, some Background Noise.”
            p.background-noise__desc "Radio Ga Ga" Freddie Mercury, 1984

