section(class="section discover-bg" id="principles")
	.container
		div(class="grid grid-cols-12 md:gap-6 lg:gap-8")

			div(class="flex flex-col justify-center col-span-12 relative md:after:absolute md:after:w-screen md:after:h-full md:after:-right-0 md:after:bg-white md:after:z-10 discover-bg-after")
				div(class="flex flex-col relative z-20")
					+heading("A Living Expression of Emirati Culture", "h2", "mb-10 lg:mb-[48px]")
					+paragraph("Step into a souk that reflects the spirit of Abu Dhabi’s rich traditions while embracing the vibrancy of the present.", "text-[#636569] mb-10 lg:mb-[48px]")
