section.partnering#partners
    .partnering__wrapper
        h2.partnering__title
                span Partnering 
                | with platforms that influence culture
                 
        .partnering__slider 
            .swiper-wrapper
                .swiper-slide
                    +img("partnering/Meta.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/google.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/yt.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/tiktok.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/linkedin.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/snapchat.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/instagram.svg", '', 'partnering__logo', false)
                .swiper-slide
                    +img("partnering/x-twit.svg", '', 'partnering__logo', false)