.brand-building.no-header#experience
    .container
        .brand-building__wrapper
            h2.brand-building__title
                    | 20 years of brand building experience 
                    
            .brand-building__card 
                .row
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/ADCB.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/adidas.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/FAB.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/abu-dhabi.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/etisalat.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/fly-emirates.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/visit-saudi.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/visa.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/PIF.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/pepsi.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/careem.svg", '', 'brand-building__card-img', false)
                    .col-4.col-md-4.col-lg-3.col-xl-2
                        .brand-building__card-item
                            +img("experience/dubai.svg", '', 'brand-building__card-img', false)
