section.brutally.no-header#services
    .container
        .row.justify-content-between
            .col-12.col-lg-3
                 +img("card-img.svg", '', 'brutally__logo', false)
            .col-12.col-lg-4
                h4.brutally__desc On-demand brand storytelling and  performance-driven campaign faster and  more reliably than any traditional agency.
            .col-12.col-lg-3
                ul.brutally__bullet-point
                    li Brand Storytelling
                    li Campaign Concepting
                    li Social Content Creation
                    li Creative Strategy
                    li Integrated Campaign Development
        .row.justify-content-between
            .col-12.col-lg-3
                 +img("brutally-fast.svg", '', 'brutally__logo', false)
            .col-12.col-lg-4
                h4.brutally__desc Ultra-fast creative subscriptions turning projects around in as little as 12 hours wit AI-driven automation.

            .col-12.col-lg-3
                ul.brutally__bullet-point
                    li Rapid Creative Adaptation
                    li Real-Time Creative Updates
                    li Lightning-Fast Asset Production
                    li Express Campaign Rollouts
                    li Subscription-Based Creative Support
        .row.justify-content-between
            .col-12.col-lg-3
                 +img("brutally-effective.svg", '', 'brutally__logo', false)
            .col-12.col-lg-4
                h4.brutally__desc High-performance campaigns a speed, combining best creative talent with AI to  maximize impact and efficiency.

            .col-12.col-lg-3
                ul.brutally__bullet-point
                    li Performance-Driven Ad Design
                    li A/B Testing and Optimization
                    li High-Velocity Content Production
                    li Full-Service Creative Management
                    li AI-Enhanced Creative Analytics


