section.text-white#press
    .relative
        div(class="flex h-full min-h-[765px] relative mask py-[100px] !lg:py-[120px]")
            +img("/taf-spotlight.jpg", "who we are", "!absolute top-0 left-0 w-full h-full object-cover", false)
            div(class="w-full relative z-10 flex items-end md:items-center")
                .container
                    .row
                        div(class="flex flex-col gap-10")
                            +heading("Consistency is a form of integrity.", "h5", "!font-normal m-0")
                            +heading("Request our press kit or contact our team for approved materials and statements.", "h2", "mb-0")
                            +link("mailto:careers@tariqalfuttaim.ae","careers@tariqalfuttaim.ae","underline text-white")
