section.growing-fast#career
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .growing-fast__wrapper
                    h2.growing-fast__title
                            span LION
                            |  is growing fast and looking for talent ready to make an impact. 
                    p.growing-fast__desc Work with inspiring people and enjoy the culture of a small company with the perks of a big one. As a remote-first company, you have the freedom to work from anywhere.        
            .col-12.col-lg-7
                .row.justify-content-center.growing-fast__card
                    .col-4.col-lg-4
                        .growing-fast__card-item
                            +img("clock.svg", '', 'growing-fast__logo', false)
                            p Flexible work hours & environment    

                    .col-4.col-lg-4
                        .growing-fast__card-item
                            +img("money.svg", '', 'growing-fast__logo', false)
                            p Generous paid <br class="d-lg-block"> time off   

                    .col-4.col-lg-4
                        .growing-fast__card-item
                            +img("graph.svg", '', 'growing-fast__logo', false)
                            p Learning budget for professional growth   
            .col-12
                .growing-fast__mail
                    a(href="mailto:joinus@thelioncreative.io") joinus@thelioncreative.io

                                        

