section.text-white
  .relative
    div(class="flex h-full min-h-[765px] relative mask py-[100px] !lg:py-[120px]")
      +img("/taf-real-image.png", "real estate", "!absolute top-0 left-0 w-full h-full object-cover", false)
      div(class="w-full relative z-10 flex lg:items-center")
        .container
          .row
            div(class="flex flex-col gap-10 lg:gap-[56px]")
              +heading("We build places that outlast people.", "h5", "!font-normal m-0")
              +heading("We focus on urban environments, destination assets, and residential structures that reflect foresight, not fashion.", "h2", "mb-24")
              +heading("Every development is a signal of intent - created not for trend, but for time.", "h5", "m-0")