section.creative-agency#about-us
    .container
        .creative-agency__wrapper
            h1.creative-agency__title
                span LION 
                | is not just a creative agency

            p.creative-agency__desc
                | It’s a game-changing platform that fuses creativity, technology, and AI to deliver fast, impactful, and performance-driven campaigns.

