section.growing-ventures#about
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .growing-ventures__wrapper
                    h2.growing-ventures__title
                        span LION
                        |  is a Fast Ventures company
                    p.growing-ventures__desc Fast Ventures is a technology-driven, full-service marketing and <br>communications group that simplifies complexity, operates swiftly,<br> and delivers impactful results at scale.
                    p.growing-ventures__desc As entrepreneurs, technologists, and growth hackers,<br> we collaborate to accelerate our clients' businesses forward.
                    p.growing-ventures__desc Our group of companies provide scalable solutions for 150+<br> clients and 40+ media agencies across the Middle East and Africa.
            .col-12.col-lg-12
                .growing-ventures__cards
                    .row.justify-content-md-around.growing-ventures__card.gx-0
                        .col-6.col-lg
                            .growing-ventures__card-item.platformance
                                +dualImg("platformance.svg", 'platformance-mob.svg','', 'growing-ventures__logo', false)
                        .col-6.col-lg
                            .growing-ventures__card-item.matte
                                +dualImg("matte.svg", 'matte-mob.svg','', 'growing-ventures__logo', false)
                        .col-6.col-lg
                            .growing-ventures__card-item.cloutscout
                                +dualImg("cloutscout.svg", 'cloutscout-mob.svg','', 'growing-ventures__logo', false)
                        .col-6.col-lg.order-5.order-lg-4
                            .growing-ventures__card-item.zero
                                +dualImg("zero-degrees.svg", 'zero-degrees-mob.svg','', 'growing-ventures__logo', false)
                        .col-6.col-lg.order-4.order-lg-5
                            .growing-ventures__card-item.calibrate
                                +dualImg("calibrate.svg", 'calibrate-mob.svg','', 'growing-ventures__logo', false)