section.what-brand.no-header#contact
    .container
        .row.gx-0
            .col-12.col-lg-6.order-2.order-lg-1
                .what-brand__profile
                    //- +dualImg("LION-profile.png", 'LION-profile-mob.png', 'what-brand__profile-img', false)
                    +dualImg("LION-profile.png",'LION-profile-mob.png', '' ,'', false)
            .col-12.col-lg-6.align-self-center.order-lg-2
                .what-brand__content
                    h2.what-brand__title What was that brand with the red boxy logo again?
                    p.what-brand__desc Brands shout without saying anything. Consumers forget, asking, "What was that brand again?" Even when strategy checks out, these ads don’t convert real customers. Method without meaning doesn’t build trust. Stand for something real. Speak with purpose.
                    p.what-brand__desc.add-space Would you agree?
                    .what-brand__mail
                        a(href="mailto:hello@thelioncreative.io") hello@thelioncreative.io

