section.creative-and-fast.no-header
    .creative-and-fast__wrapper
        .creative-and-fast__wrapper-img
            video.creative-and-fast__video(width='100%', height='603',  autoplay muted loop)
                source(src='/assets/images/brutally.mp4', type='video/mp4')        
            //- +dualImg("Section-Divider.png",'Section-Divider-mob.png', '' ,'', false)
        .creative-and-fast__wrapper-cont
            h2.creative-and-fast__title Brutally 
                span creative and fast,
                |  powered by AI to cut through the noise and drive results at the speed of culture.

