header.header
  .header__inner
    .container 
      .row.align-items-center.h-100
        .col-12
          .header__wrapper
            .header__toggle.header__menu
              span(class="material-symbols-outlined toggle") menu
              span(class="material-symbols-outlined close") close

        .col-4.col-lg-12
          .header__nav
            span.menu-text(class="text-white text-sm mb-40 uppercase !font-normal") Menu
            ul.header__nav-list
              li.nav-item.relative
                a.nav-link.animated-line(href="#about") About
              li.nav-item.relative
                a.nav-link.animated-line(href="#principles") Principles
              li.nav-item.relative
                a.nav-link.animated-line(href="#governance") Governance
              li.nav-item.relative
                a.nav-link.animated-line(href="#real-estate") Real Estate
              li.nav-item.relative
                a.nav-link.animated-line(href="#values") Values
              li.nav-item.relative
                a.nav-link.animated-line(href="#contact") Contact
              li.nav-item.relative
                a.nav-link.animated-line(href="#press") Press