header.header
  .header__inner
    .container 
      .row.align-items-center.h-100
        .col-12.col-lg-1
          .header__wrapper
            .header__toggle.header__menu
              span(class="material-symbols-outlined toggle") menu
              span(class="material-symbols-outlined close") close

        .col-4.col-lg-11
          .header__nav
            span(class="lg:hidden block text-white text-sm mb-40 uppercase font-normal") Menu
            ul.header__nav-list
              li.nav-item
                a.nav-link(href="#about-us") About
              li.nav-item
                a.nav-link(href="#services") Principles
              li.nav-item
                a.nav-link(href="#partners") Governance
              li.nav-item
                a.nav-link(href="#experience") Real Estate
              li.nav-item
                a.nav-link(href="#career") Values
              li.nav-item
                a.nav-link(href="#contact") Contact
              li.nav-item
                a.nav-link(href="#contact") Press