h1 Mixins and modules
include _mixin_examples

+makeHeading('Heading made from mixin')
+makeList(['one','two','three'])
+makeListMultiParams('1','2','3')
-
	params = {
		h2:"heading for h2",
		h3:"heading for h3",
		h4:"heading for h4"
	}

+makeFromObject(params)
