extends layouts/layout.pug

block pageTitle
	- var title_en=" | Home"
	- var desc_en=""
	- var title_ar=""
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	<div id="wrapper">
		<ul id="files" class="view-details">
		</ul>
	</div>
