doctype html
html(lang=lang)
	head
		include layout_partials/head.pug
	body(class=lang)
		//- include header/header.pug
		main
			block content
		include footer/footer.pug
		include layout_partials/scripts.pug
